{
  "root": true,
  "extends": ["prettier"],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "indent": ["error", 2],
    "no-var": "error",
    "object-property-newline": "error",
    "object-shorthand": ["error", "always"],
    "lines-between-class-members": ["error", "always"],
    "prefer-arrow-callback": "error",
    "prefer-destructuring": [
      "error",
      {
        "array": true,
        "object": true
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "brace-style": "error",
    "curly": "error",
    "eqeqeq": "error",
    "parserOptions": {
      "ecmaVersion": "latest"
    },

    "env": {
      "es6": true
    }
  }
}
